body{
    background-color:white;  
    background-image: url('../img/sfondo.jpg'); 
    font-family: "Arial", "Times new roman",Times,sans-serif;
}
#page{
    position:relative;
    margin-top: 20px;
    margin-bottom:0;
    margin-left:auto;
    margin-right: auto;
    width:1000px;
    height: auto;
    background-color: white;
}#header{
    position:center;
    height:160px;
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    background-color: pink;
	margin-top:35px;
    border-bottom:32px;
    border-bottom-style: inset;
    border-bottom-color: LIGHTCORAL;  
    background-image: url('../img/back.jpg');
    background-repeat : repeat;
    background-position: left;
    
}
h1{
font-size:40px;
}
#titolo{
text-align: center;
color:INDIANRED;
}
#titolo a:hover{
    text-decoration: underline;
}

#titolo a:visited{
    color: white;
}
#titolo p{
    background-image: url('../img/esci.jpg');
    background-repeat : no-repeat;
    background-position: 60%;
    height: 27px;
}

#navigazione{
    position: relative;
    bottom: 0px;
    right:30px;
    height: 30px;
    width: auto;    
}
#navigazione ul{
    
    text-align: left;
	margin-top:23px;
	margin-left:155px;
}

#navigazione li{
    background-color: LIGHTCORAL;
    color:white;
    display:inline;
    margin: 5px;
    padding :7px;
    text-align: center;   
}

#navigazione li a:link{
    text-decoration: none;
    color: white;
}
#navigazione li a:active{color:  pink}
#navigazione li a:hover{text-decoration: underline; }
#navigazione li a:visited{color:white}
#navigazione li.attuale {
    text-decoration: underline;
}

#container{
    min-height: 500px; 
}


#sidebar1{
    float:left;
    min-height:500px;
    width:16%;
    margin: 0px;
    padding: 2px; 
    text-align: center;
}

#sidebar1 ul{
    margin-top: 5px;
    text-align: center;
    display:inline;
    list-style-type: none;
}
#sidebar1 li{
    margin:5px;
    margin-top:10px;
    padding:5px;
}
#sidebar1 li a:link{ 
    color:lightcoral;
	font-size: 20px;
    text-decoration: none;
}
#sidebar1 li a:visited { color:lightcoral }

#sidebar1 li a:hover{ 
    color:#0099AA;
    text-decoration: underline;
}
#sidebar1 li.attuale{
    text-decoration: underline;
}
#Navigazioneside{
    background-image: url('../imag/link.jpg');
    background-repeat : no-repeat;
    background-position: left;
    padding-left: 15px;
}


#content{
    position:relative;
    float:left;
    width:63%;
    min-height: 500px;
    margin:1px;
    margin-left: 5px;
    margin-right:5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color:#CCCCFF;
    padding-left: 5px;
    padding-right: 5px;
}



.collegamenti li.prodotti{	
    display: block;
    width: 65%;
    height:100px;
    margin:auto;
    border:1px solid lightcoral;
    padding:10px;
    position: relative;
    margin-top:15px;
    background-image: url(../img/prodotti.jpg);
}
.collegamenti li.carrello{	
    display: block;
    width: 65%;
    height:100px;
    margin:auto;
    border:1px solid lightcoral;
    padding:10px;
    position: relative;
    margin-top:15px;
    background-image: url(../img/carrello.gif);
}
.collegamenti li.my{	
    display: block;
    width: 65%;
    height:100px;
    margin:auto;
    border:1px solid lightcoral;
    padding:10px;
    position: relative;
    margin-top:15px;
    background-image: url(../img/my.png);
}

table{
    margin:auto;
    margin-top:25px;
    border: 0px solid;
    border-collapse:collapse;
    width: 100%;

    
}

th, td {
   
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
	font-size:15px;
}

th{ 
    font-weight: bold;
    font-size: 15px;
    color:white;
    background-color: indianred;
    height: 45px;
}

td{
    height: 30px;
}

.color{
    background-color: ANTIQUEWHITE;
}


#sidebar2{
    float:right;
    min-height:500px;
    padding: 1px;
    width:15%;
    margin: 15px;
}

#sidebar2 image{
    float:left;
}

#sidebar2 li{
    padding: 5px;
}

#push{
    clear:both;
}

#footer{
    background-color: pink;
    text-align: center;
    height:40px;
    width:1000px;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 15px;
    border-top: 5px solid;
    border-top-style: outset;
    border-top-color: LIGHTCORAL;
}
li {list-style: none;}

a.foot:link{
    color:black;
    text-decoration: none;
    margin: 10px;
}
a.foot:visited, a.foot:active {color: blue;}
a.foot:hover{text-decoration: underline}

a:link{
   text-decoration: none; 
}

a:hover{
    text-decoration: underline;
}

form{
    margin: 5px;
    width: 80%;
}

label{
    display: block;
    margin:5px;
    padding: 3px;
    line-height: 15px;
    
}

input{
    display: block;
    width: 200px;
    line-height:15px;
    right: 200px;
    margin: 5px;
    padding: 10px;
}

textarea{
    max-width:600px;
}

div#login{
    margin-left: 210px;
    padding-left: 30%;
    
}

#loginSubmit{
    color: background;
    height: 35px;
	width:224px;
}
div#registrazione{
	margin-left:190px;
}
div#Inserimento{
	margin-left:190px;
}
#registraz{
      color: background;
    height: 35px;
	width:224px;
    
}

h3{
color:red;
margin-left:190px;
}
h2{
font-size:23px;
}











